<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="gmail.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row row-header"> <!--ROW 1-->
			<div class="col-sm-2 logo"></div>
			<div class="col-sm-7 search-bar">
				<div class="search-bar-container">
					<input type="text" class="form-control search">
				</div>
				<button type="button" class="btn btn-blue"><span class="glyphicon glyphicon-search aria-hidden="true""></span></button>
			</div>
			<div class="col-sm-3 profile">
				<ul class="list-inline">
					<li class="profile-1">+Sheonna</li>
					<li class="profile-2">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
					</li>
					<li class="profile-3">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
					</li>
					<li class="profile-4">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
					</li>
					<li class="profile-5">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row row-sort"> <!--ROW 2-->
			<div class="col-sm-12 sorting-container"> <!--SORTING CONTAINER-->
				<div class="col-sm-2 gmail">Gmail
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
				<div class="col-sm-6 sort-drop js-sort-drop1">
					<ul class="list-inline">
						<li>
							<button class="btn btn-sort">
								<div class="js-sort">
									<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
								</div>
									<span class="glyphicon glyphicon-minus js-selected" aria-hidden="true" style="display: none;"></span>
							</button>
						</li>
						<li>
							<button class="btn btn-sort js-remove">
								<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
							</button>
						</li>


						<!--HIDDEN SORT BUTTONS-->
						<li class="js-hidden-sort" style="display: none;">
							<div class="btn-group">
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								</button>
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								</button>
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</div>
						</li>
						<li class="js-hidden-sort" style="display: none;">
							<div class="btn-group">
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
								</button>
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
								</button>
							</div>
						</li>
						<!--END OF HIDDEN SORT BUTTONS-->



						<li>
							<button class="btn btn-sort">
								<P>More<span class="glyphicon glyphicon-triangle-bottom"></span></P>
							</button>
						</li>
					</ul>
				</div>

				<div class="col-sm-4 pages">
					<ul class="list-inline">
						<li><p>1-29 of 29</p></li>
						<li>
							<div class="btn-group">
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-menu-left"></span>
								</button>
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-menu-right"></span>
								</button>
							</div>
						</li>
						<li>
							<button class="btn btn-sort">
								<span class="glyphicon glyphicon-cog"></span>
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row email-row"> <!--ROW 3-->
			<div class="col-sm-12 email-container"> <!--EMAIL CONTAINER-->
				<div class="col-sm-2 email-folders"> <!--EMAIL FOLDERS-->
					<button class="btn btn-sm btn-red">Compose</button>
					<ul class="list-unstyled">
						<li>Inbox<span class="inbox-badge">(5)</span></li>
						<li>Sent Mail</li>
						<li>Drafts<span class="inbox-badge">(7)</span></li>
						<li>All Mail</li>
						<li>Spam</li>
					</ul>
				</div>
				<div class="col-sm-10 email-list"> <!--EMAILS-->
					<ul class="list-unstyled">
						<li class="row-emails clearfix">
							<div class="col-sm-2">
								<div class="email-flag-container">
									<input class="email-flags-style" id="js-email-selected" type="checkbox">
									<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
									<span class="glyphicon glyphicon-tag email-flags-style"></span>
								</div>
							</div>
							<div class="col-sm-2"><p>Javascript Weekly</p></div>
							<div class="col-sm-7">
								<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read</span></p>
							</div>
							<div class="col-sm-1"><p>1:06pm</p></div>
						</li>
						<li class="row-emails clearfix">
							<div class="col-sm-2">
								<div class="email-flag-container">
									<input class="email-flags-style" type="checkbox">
									<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
									<span class="glyphicon glyphicon-tag email-flags-style"></span>
								</div>
							</div>
							<div class="col-sm-2"><p>Javascript Weekly</p></div>
							<div class="col-sm-7">
								<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read</span></p>
							</div>
							<div class="col-sm-1"><p>1:06pm</p></div>
						</li>
						<li class="row-emails clearfix">
							<div class="col-sm-2">
								<div class="email-flag-container">
									<input class="email-flags-style" type="checkbox">
									<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
									<span class="glyphicon glyphicon-tag email-flags-style"></span>
								</div>
							</div>
							<div class="col-sm-2"><p>Javascript Weekly</p></div>
							<div class="col-sm-7">
								<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read</span></p>
							</div>
							<div class="col-sm-1"><p>1:06pm</p></div>
						</li>
						<li class="row-emails clearfix">
							<div class="col-sm-2">
								<div class="email-flag-container">
									<input class="email-flags-style" type="checkbox">
									<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
									<span class="glyphicon glyphicon-tag email-flags-style"></span>
								</div>
							</div>
							<div class="col-sm-2"><p>Javascript Weekly</p></div>
							<div class="col-sm-7">
								<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read</span></p>
							</div>
							<div class="col-sm-1"><p>1:06pm</p></div>
						</li>
						<li class="row-emails clearfix">
							<div class="col-sm-2">
								<div class="email-flag-container">
									<input class="email-flags-style" type="checkbox">
									<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
									<span class="glyphicon glyphicon-tag email-flags-style"></span>
								</div>
							</div>
							<div class="col-sm-2"><p>Javascript Weekly</p></div>
							<div class="col-sm-7">
								<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read</span></p>
							</div>
							<div class="col-sm-1"><p>1:06pm</p></div>
						</li>



					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="gmail.js"></script>
</body>
</html>