<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="gmail.css">
</head>

<body>
	<div class="row row-header"> <!--ROW-->
		<div class="col-lg-2 logo"></div>
		<div class="col-lg-7 search-bar">
			<div class="search-bar-container">
				<input type="text" class="form-control search">
			</div>
			<button type="button" class="btn btn-blue"><span class="glyphicon glyphicon-search aria-hidden="true""></span></button>
		</div>
		<div class="col-lg-3 profile">
			<ul class="list-inline">
				<li class="profile-1">+Sheonna</li>
				<li class="profile-2">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
				</li>
				<li class="profile-3">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
				</li>
				<li class="profile-4">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
				</li>
				<li class="profile-5">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
				</li>
			</ul>
		</div>
	</div>

		<div class="row row-sort"> <!--ROW-->
			<div class="col-lg-10 sorting-container"> <!--SORTING CONTAINER-->
				<div class="col-lg-3 gmail">Gmail<span class="glyphicon glyphicon-triangle-bottom"></span></div>
				<div class="col-lg-3 sort-drop">
					<ul class="list-inline">
						<li>
							<button class="btn btn-sort">
								<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
						</li>
						<li>
							<button class="btn btn-sort">
								<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
							</button>
						</li>
						<li>
							<button class="btn btn-sort">
								<P>More<span class="glyphicon glyphicon-triangle-bottom"></span></P>
							</button>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 pages">
					<ul class="list-inline">
						<li><p>1-29 of 29</p></li>
						<li>
							<div class="btn-group">
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-menu-left"></span>
								</button>
								<button class="btn btn-sort">
									<span class="glyphicon glyphicon-menu-right"></span>
								</button>
							</div>
						</li>
						<li>
							<button class="btn btn-sort">
								<span class="glyphicon glyphicon-cog"></span>
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row email-row"> <!--ROW-->
			<div class="col-lg-10 email-container"> <!--EMAIL CONTAINER-->
				<div class="col-lg-3 email-folders"> <!--EMAIL FOLDERS-->
					<button class="btn btn-lg btn-red">Compose</button>
					<ul class="list-unstyled">
						<li>Inbox<span class="inbox-badge">(5)</span></li>
						<li>Sent Mail</li>
						<li>Drafts<span class="inbox-badge">(7)</span></li>
						<li>All Mail</li>
						<li>Spam</li>
					</ul>
				</div>
				<div class="col-lg-9 email-list"> <!--EMAILS-->
					<div class="col-lg-3 email-flags">
						<div class="email-flag-container">
							<input class="email-flags-style" type="checkbox">
							<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
							<span class="glyphicon glyphicon-tag email-flags-style"></span>
						</div>
						<div class="email-flag-container">
							<input class="email-flags-style" type="checkbox">
							<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
							<span class="glyphicon glyphicon-tag email-flags-style"></span>
						</div>
						<div class="email-flag-container">
							<input class="email-flags-style" type="checkbox">
							<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
							<span class="glyphicon glyphicon-tag email-flags-style"></span>
						</div>
						<div class="email-flag-container">
							<input class="email-flags-style" type="checkbox">
							<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
							<span class="glyphicon glyphicon-tag email-flags-style"></span>
						</div>
						<div class="email-flag-container">
							<input class="email-flags-style" type="checkbox">
							<span class="glyphicon glyphicon-star-empty email-flags-style"></span>
							<span class="glyphicon glyphicon-tag email-flags-style"></span>
						</div>
					</div>
					<div class="col-lg-3 email-subject">
						<p>Javascript Weekly</p>
						<p>Javascript Weekly</p>
						<p>Javascript Weekly</p>
						<p>Javascript Weekly</p>
						<p>Javascript Weekly</p>
					</div>
					<div class="col-lg-5 email-text">
						<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read this e-r</span></p>
						<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read this e-r</span></p>
						<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read this e-r</span></p>
						<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read this e-r</span></p>
						<p>This week's JavaScript news, issue 217 - <span class="email-preview">This week's JavaScript news Read this e-r</span></p>
					</div>
					<div class="col-lg-1 email-date">
						<p>1:06pm</p>
						<p>10:46am</p>
						<p>Jan 23</p>
						<p>Jan 8</p>
						<p>12/24/14</p>
					</div>
				</div>
			</div>
		</div>
	





<script type="text/javascript" src="gmail.js"></script>
</body>
</html>